<form method="post">
    <input type="hidden" value="{{ kingdom.id }}" name="id">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" value="{{ kingdom.name }}" name="name">
    </div>
    <input class="btn btn-primary" type="submit" value="Valider">
</form>
