{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit kingdom {{ kingdom.title }}</h1>
    {% include 'Kingdom/_form.html.twig' %}
    <a href="/kingdom/show/{{ kingdom.id }}">Back</a>
{% endblock %}
