{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Kingdom {{ kingdom.name }}</h1>
    <a href="/kingdom/edit/{{ kingdom.id }}">Edit</a>
    <a href="/kingdom/delete/{{kingdom.id}}">Supprimer</a>
    <a href="/kingdom/index">Back</a>
{% endblock %}
