{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Persons</h1>
    <ul>
        {% for person in persons %}
            <li><a href="/person/show/{{ person.id }}">{{ person.firstname }} {{ person.lastname }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/person/add">Ajouter</a>
{% endblock %}
